node_modules
.env
.idea
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

/test/compiler-tests/integrationTests/mock-compiled-code/
/test/compiler-tests/e2e-testing/mock-compiled-code/
